h1 {
  background-color: blue;
  display: block;
}

h1 {
  color: red;
}

p {
  font-size: 30px;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.color {
  width: 120px;
  height: 120px;
}

.color:nth-child(1) {
  background-color: #0d0d0d;
}

.color:nth-child(2) {
  background-color: #1a1a1a;
}

.color:nth-child(3) {
  background-color: #262626;
}

.color:nth-child(4) {
  background-color: #333333;
}

.color:nth-child(5) {
  background-color: #404040;
}

.color:nth-child(6) {
  background-color: #4d4d4d;
}

.color:nth-child(7) {
  background-color: #595959;
}

.color:nth-child(8) {
  background-color: #666666;
}

.color:nth-child(9) {
  background-color: #737373;
}

.color:nth-child(10) {
  background-color: gray;
}

.color:nth-child(11) {
  background-color: #8c8c8c;
}

.color:nth-child(12) {
  background-color: #999999;
}

.color:nth-child(13) {
  background-color: #a6a6a6;
}

.color:nth-child(14) {
  background-color: #b3b3b3;
}

.color:nth-child(15) {
  background-color: #bfbfbf;
}

.color:nth-child(16) {
  background-color: #cccccc;
}

.color:nth-child(17) {
  background-color: #d9d9d9;
}

.color:nth-child(18) {
  background-color: #e6e6e6;
}

.color:nth-child(19) {
  background-color: #f2f2f2;
}

.color:nth-child(20) {
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
