//variables
$myColor:blue;
$size:grande;
$subtitulo:3;

h1{
    background-color:$myColor;
    display: block;
}
h1{
    @if ($subtitulo %2 ==0){
        color:green;
    }@else{
        color: red;
    }
}
p{
    @if ($size == pequeño) {
        font-size: 10px;
        
    }@else if ($size == mediano){
        font-size: 15px;
        
    }@else if ($size == grande){
        font-size: 30px;
        
    }
    @else {
        font-size: 12px;
    }
}

body{
    display: flex;
    flex-wrap: wrap;
}

.color{
    width: 120px;
    height: 120px;
   
}

@for $i from 1 through 20 {
    .color:nth-child(#{$i}){
        background-color: lighten(black, $i * 5);
    } 
}