
@use 'archivo2.scss';
// variables

$myColor:red;
$color:pink;
$titulo: "azul";


//anidacion

.clase1{

    h2{
        color:$color;

    }
    p{
        color:purple;

    }
}

// mixing

@mixin caja_personalizada($fondo:grey,$var2:grey){
    border: 2px solid red;
    background-color: $fondo;
    margin: 20px;
    color: $var2;

}

.clase2{

    @include caja_personalizada($fondo:purple);

}

//sumar valores
.clase1,.clase2{
    width: 200px + 200px;
}

// condicionales

h1{
    @if($titulo == "azul"){
        background-color: blue;
    }
    @else if ($titulo == "red"){
        background-color: red;
    }
    @else {
        background-color: yellow;
    }

}

// bucle

@for $i from 1 through 6 {

    h#{$i}{
        font-size: $i * 4px;
    }

}

